.medal circle {
    fill: rgba(255, 255, 255, 0);
}
.medal .total{
    fill: lightblue;
}

.medal .gold {
    fill: gold;
}

.medal .silver {
    fill: silver;
}

.medal .bronze {
    fill: #cd7f32;
}


.medal text {
    font-size: 2em;
    fill: #555;
}